:root {
  //font
  --font-family: "Quicksand";
  --font-style: normal;
  --font-weight-400: 400;
  --font-weight-semi-bold: 500;
  --font-weight-bold: 700;
  --font-size-xs: 16px;
  --font-size-sm: 20px;
  --font-size-md: 24px;
  --font-size-lg: 48px;
  --font-size-xl: 64px;

  //colors
  --white: #ffffff;
  --black: #000000;
  --blue-primary: #0066bf;
  --blue-secondary: #0a2054;
}
