//font
$font-family: "Bahnschrift";
$font-family-futura: "Futara";
$font-style-normal: normal;
$font-weight-400: 400;
$font-weight-semi-bold: 500;
$font-weight-bold: 700;
$font-size-xxs: 12px;
$font-size-xs: 16px;
$font-size-sm: 20px;
$font-size-md: 24px;
$font-size-lg: 36px;
$font-size-xl: 40px;
$font-size-xxl: 48px;
$font-size-xxxl: 64px;

//colors
$white: #ffffff;
$black: #000000;
$primary: #00574b;
$primary-light: lighten($primary, 5%);
$primary-lighter: lighten($primary, 10%);
$primary-dark: darken($primary, 5%);
$primary-darker: darken($primary, 10%);
$secondary: #00a98d;
$green-light: #e8fef9;
$green-lighter: #e7fefe;
$grey: #6b6c6c;
$grey-light: #f7faff;

//widths
$width-sm: 1275px;
$width-mobile: 481px;
