//font
$font-family: "Quicksand";
$font-style-normal: normal;
$font-weight-400: 400;
$font-weight-semi-bold: 500;
$font-weight-bold: 700;
$font-size-xs: 16px;
$font-size-sm: 20px;
$font-size-md: 24px;
$font-size-mdl: 36px;
$font-size-lg: 40px;
$font-size-xl: 48px;
$font-size-xll: 64px;

//colors
$white: #ffffff;
$black: #000000;
$primary: #00574b;
$secondary: #00a98d;
$primary-light: #e8fef9;
$primary-lighter: #e7fefe;
