@import "../../../../assets/style/global/globals.scss";

a,
button {
  border: none;
  text-decoration: none;
  border-radius: 25px;
  font-size: $font-size-xs;
  font-weight: $font-weight-semi-bold;
  padding: 0.3rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

span {
  padding-left: 0.5rem;
}

.xl {
  font-size: $font-size-xl;
}

.lg {
  font-size: $font-size-lg;
}

.md {
  font-size: $font-size-md;
}

.sm {
  font-size: $font-size-sm;
}

.xs {
  font-size: $font-size-xs;
}

.xxs {
  font-size: $font-size-xxs;
}

.primary {
  color: $white;
  background-color: $primary;

  &:hover,
  &:focus {
    color: $white;
    background-color: $primary-dark;
  }
}

.outline-primary {
  color: $primary;
  background-color: $white;

  &:hover,
  &:focus {
    color: $primary-darker;
  }
}

.app-dropdown {
  color: $primary;

  &:hover,
  &:focus {
    color: $primary-darker;
  }
}

@media only screen and (max-width: $width-mobile) {
  .disableonmobile {
    display: none;
  }
}

@media only screen and (max-width: $width-sm) {
  .disableonmobile {
    display: none;
  }
}
