@import "../../assets/style/global/globals.scss";

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  .image {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 450px;
    overflow: hidden;
    cursor: pointer;

    img {
      border: none;
    }
  }

  a {
    color: $primary;
    font-size: $font-size-md;
  }
}

@media only screen and (max-width: $width-sm) {
  .row .image {
    height: 280px;
    margin: 1rem;
  }

  a {
    font-size: $font-size-sm;
  }
}
