.row {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  .image {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 450px;
    overflow: hidden;

    img {
      border: none;
    }
  }
}
