@import "../assets/style/global/globals.scss";

.main-container {
  min-height: 81vh;

  .col {
    padding: 0;
  }
}

nav {
  height: auto;
  padding-bottom: 0.4rem;
  border-bottom: 1px solid $primary;
  background-color: $white;

  .scrolled {
    box-shadow: 0 4px 2px -2px $grey;
  }

  .top-section {
    .col-lg-12 {
      background-color: $green-light;

      .col-7 {
        display: flex;
        align-content: center;
        justify-content: flex-end;
        align-items: center;
      }
    }

    .dropdown-menu {
      border: 1px solid $primary;

      .dropdown-item {
        color: $primary;
        text-align: center;

        &:hover,
        &:focus {
          color: $primary-dark;
          background-color: $green-light;
        }
      }
    }
  }

  .bottom-section {
    .home-link {
      color: $primary;
      text-decoration: none;
      font-size: $font-size-lg;
      font-style: $font-style-normal;
      font-weight: $font-weight-bold;
      margin-top: auto;
      margin-bottom: auto;
    }

    .lg-screen {
      div:nth-child(2),
      div:nth-child(3) {
        display: flex;
      }

      div:nth-child(3) {
        text-align: center;
        align-items: center;
        justify-content: flex-end;
      }
    }

    .col-md-4:nth-child(2) {
      padding: 0;
    }

    ul {
      display: flex;
      list-style-type: none;
      align-items: center;
      justify-content: center;
      margin-top: auto;
      margin-bottom: auto;
      padding: 0;

      li {
        display: inline-flex;

        button {
          background-color: $white;
          border: none;
        }

        a,
        button {
          color: $black;
          cursor: pointer;
          text-decoration: none;
          font-size: $font-size-xs;
          font-style: $font-style-normal;
          font-weight: $font-weight-semi-bold;

          &:hover {
            color: $primary;
          }
        }

        &:nth-child(2) {
          padding-left: 1.25rem;
          padding-right: 0.6rem;
        }

        &:nth-child(3) {
          padding-left: 0.6rem;
          padding-right: 0.6rem;
        }

        &:nth-child(4) {
          padding-left: 0.6rem;
          padding-right: 1.25rem;
        }
      }
    }
  }
}

footer {
  background-color: $primary;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  button {
    background-color: $primary;
    border: none;
    color: $green-light;
    font-size: $font-size-md;
    font-weight: $font-weight-bold;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: $green-lighter;
    }
  }
}

@media only screen and (max-width: $width-sm) {
  nav {
    .sm-screen {
      display: flex;

      div:nth-child(3) {
        display: flex;
        justify-content: flex-end;
      }
    }

    ul {
      flex-direction: column;

      li {
        padding: 0 !important;
      }
    }
  }
}

@media only screen and (max-width: $width-mobile) {
}
