@import "../assets/style/global/globals.scss";

nav {
  height: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.4rem;
  background-color: $white;

  .top-section {
    .col-lg-12 {
      background-color: $green-light;

      .col-7 {
        display: flex;
        align-content: center;
        justify-content: flex-end;
        align-items: center;
      }
    }

    .dropdown-menu {
      border: 1px solid $primary;

      .dropdown-item {
        color: $primary;
        text-align: center;

        &:hover,
        &:focus {
          color: $primary-dark;
          background-color: $green-light;
        }
      }
    }
  }

  .bottom-section {
    a:nth-child(1) {
      color: $primary;
      text-decoration: none;
      font-size: $font-size-lg;
      font-style: $font-style-normal;
      font-weight: $font-weight-bold;
      margin-top: auto;
      margin-bottom: auto;
    }

    .lg-screen {
      div:nth-child(2),
      div:nth-child(3) {
        display: flex;
      }

      div:nth-child(3) {
        text-align: center;
        align-items: center;
        justify-content: flex-end;
      }
    }

    ul {
      display: flex;
      list-style-type: none;
      align-items: center;
      justify-content: center;
      margin-top: auto;
      margin-bottom: auto;
      padding: 0;

      li {
        display: inline-flex;

        a {
          color: $black;
          cursor: pointer;
          text-decoration: none;
          font-size: $font-size-xs;
          font-style: $font-style-normal;
          font-weight: $font-weight-semi-bold;

          &:hover {
            color: $primary;
          }
        }

        &:nth-child(2) {
          padding-left: 1.25rem;
          padding-right: 0.6rem;
        }

        &:nth-child(3) {
          padding-left: 0.6rem;
          padding-right: 1.25rem;
        }
      }
    }
  }
}

@media only screen and (max-width: $width-sm) {
  nav {
    .sm-screen {
      display: flex;

      div:nth-child(3) {
        display: flex;
        justify-content: flex-end;
      }
    }

    ul {
      flex-direction: column;
    }
  }
}

@media only screen and (max-width: $width-mobile) {
  nav {
    .sm-screen {
      a:nth-child(1) {
        font-size: $font-size-lg;
      }
    }
  }
}
