@import "../../assets/style/global/globals.scss";

.row:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  h1 {
    color: $primary;
    font-weight: $font-weight-bold;
  }
}

p {
  color: $grey;
  font-size: $font-size-sm;
  text-align: center;
}

.card {
  border: none;

  .card-text {
    color: $primary;
    padding-top: 4px;
    font-weight: $font-weight-semi-bold;
    text-align: center;
  }

  img {
    max-height: 400px;
  }
}
