<div class="container py-4">
    <div class="row g-4 justify-content-between">
        <div class="col-lg-5">
            <h1>Welkom bij AniWell</h1>
            <p class="mb-2 mb-lg-5">Book your hotel with us and don't forget to grab an awesome hotel deal to save massive on your stay.</p>
            <div class="row">
                <div class="col-sm-12 mb-5 text-center">
                    <button type="button" class="btn btn-success">Maak een afspraak</button>
                </div>
                <div class="col-sm-6">
                    <div class="icon-lg bg-success bg-opacity-10 rounded-circle"><i class="bi bi-geo-alt"></i></div>
                    <h5 class="mt-2">Locatie praktijk</h5>
                    <p class="mb-0">Buggenhout en Lebbeke</p>
                </div>
                <div class="col-sm-6">
                    <div class="icon-lg bg-success bg-opacity-10 rounded-circle"><i class="bi bi-stopwatch-fill"></i></div>
                    <h5 class="mt-2">24/7 bereikbaar</h5>
                    <p class="mb-0">Op het nummer: 0476 99 99 99 </p>
                </div>		
            </div>
        </div>
        <div class="col-lg-7">

        </div>
    </div>
</div>
<div class="container py-4">
    <div class="row g-4 justify-content-between align-items-center">
        <div class="col-lg-6">
            
        </div>
        <div class="col-lg-6">
            <h2 class="mb-2 mb-lg-5">Onze diensten</h2>  
            <p class="mb-2 mb-lg-5">Book your hotel with us and don't forget to grab an awesome hotel deal to save massive on your stay.</p>
            <div class="row">
                <div class="col-sm-6">
                    <div class="icon-lg bg-success bg-opacity-10 text-success rounded-circle"><i class="fa-solid fa-utensils"></i></div>
                    <h5 class="mt-2">Quality Food</h5>
                    <p class="mb-0">Departure defective arranging rapturous did. Conduct denied adding worthy little.</p>
                </div>
                <div class="col-sm-6">
                    <div class="icon-lg bg-danger bg-opacity-10 text-danger rounded-circle"><i class="bi bi-stopwatch-fill"></i></div>
                    <h5 class="mt-2">Quick Services</h5>
                    <p class="mb-0">Supposing so be resolving breakfast am or perfectly. </p>
                </div>
                <div class="col-sm-6">
                    <div class="icon-lg bg-orange bg-opacity-10 text-orange rounded-circle"><i class="bi bi-shield-fill-check"></i></div>
                    <h5 class="mt-2">High Security</h5>
                    <p class="mb-0">Arranging rapturous did believe him all had supported. </p>
                </div>
                <div class="col-sm-6">
                    <div class="icon-lg bg-info bg-opacity-10 text-info rounded-circle"><i class="bi bi-lightning-fill"></i></div>
                    <h5 class="mt-2">24/7 bereikbaar</h5>
                    <p class="mb-0">0476309201</p>
                </div>		
            </div>
        </div>
    </div>    
</div>
<div class="container py-4">
    <h2 class="text-center">Ons team</h2>
    <div class="row">
        <div class="col-md">
          Column
        </div>
        <div class="col-md">
          Column
        </div>
    </div> 
</div>