@import "../../assets/style/global/globals.scss";

#top {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;

  .row:nth-child(1) {
    .row:nth-child(1) {
      h1 {
        color: $primary;
        font-weight: $font-weight-bold;
        letter-spacing: 0.07em;
      }

      h2 {
        color: $secondary;
        font-weight: $font-weight-bold;
      }

      p {
        color: $grey;
        font-size: $font-size-sm;
      }
    }

    .row:nth-child(2) {
      .col-lg-12 {
        display: flex;
        align-items: center;
      }

      h2 {
        color: $primary;
        font-weight: $font-weight-bold;
        padding-left: 1rem;
        margin-bottom: 0;
        font-size: $font-size-sm;
      }
    }

    .row:nth-child(3) {
      h2 {
        color: $primary;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        font-size: $font-size-sm;
      }

      span {
        color: $secondary;
        font-weight: $font-weight-semi-bold;
      }

      a {
        color: $primary;
        font-size: $font-size-xs;
        font-weight: $font-weight-semi-bold;
      }
    }

    .col-lg-6 {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        border-radius: 25px;
      }
    }
  }
}

@media only screen and (max-width: $width-sm) {
  #top {
    .row:nth-child(2),
    .row:nth-child(3) {
      h2 {
        font-size: $font-size-xs;
      }
    }
  }
}

#services {
  background-color: $grey-light;

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    h1 {
      color: $primary;
      font-weight: $font-weight-bold;
    }
  }

  .col-12 {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  h2 {
    color: $secondary;
    font-weight: $font-weight-bold;
  }

  p {
    color: $grey;
    font-size: $font-size-sm;
  }

  .col-lg-4 {
    display: flex;
    flex-direction: column;
  }

  app-service-item {
    padding-bottom: 10px;
  }
}

#practice {
  background-color: $primary;
  color: $green-lighter;

  .col-lg-5 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 20px;

    h1 {
      font-weight: $font-weight-bold;
    }

    p {
      font-size: $font-size-md;
    }

    a {
      color: $green-lighter;
      font-size: $font-size-md;
    }
  }

  ngb-carousel .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  ngb-carousel .wrapper > img {
    display: flex;
    height: 50vh;
  }
}

#about {
  .row:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    h1 {
      color: $primary;
      font-weight: $font-weight-bold;
    }
  }

  p {
    color: $grey;
    font-size: $font-size-sm;
    white-space: pre-line;
    text-align: justify;
    padding: 5%;
  }
}
