<div class="container py-4">
  <div class="row g-4 justify-content-between">
    <div class="col-lg-5">
      <h1>Welkom bij AniWell</h1>
      <p class="mb-2 mb-lg-5">
        Book your hotel with us and don't forget to grab an awesome hotel deal
        to save massive on your stay.
      </p>
      <div class="row">
        <div class="col-sm-12 mb-5 text-center">
          <button type="button" class="btn btn-success">
            Maak een afspraak
          </button>
        </div>
        <div class="col-sm-6">
          <div class="icon-lg bg-success bg-opacity-10 rounded-circle">
            <i class="bi bi-geo-alt"></i>
          </div>
          <h5 class="mt-2">Locatie praktijk</h5>
          <p class="mb-0">Buggenhout en Lebbeke</p>
        </div>
        <div class="col-sm-6">
          <div class="icon-lg bg-success bg-opacity-10 rounded-circle">
            <i class="bi bi-stopwatch-fill"></i>
          </div>
          <h5 class="mt-2">24/7 bereikbaar</h5>
          <p class="mb-0">Op het nummer: 0476 99 99 99</p>
        </div>
      </div>
    </div>
    <div class="col-lg-7"></div>
  </div>
</div>
<div class="container py-4">
  <div class="row g-4 justify-content-between align-items-center">
    <div class="col-lg-6"></div>
    <div class="col-lg-6">
      <h2 class="mb-2 mb-lg-5">Onze diensten</h2>
      <p class="mb-2 mb-lg-5">
        Bij Aniwell bieden we uitgebreide medische diensten en integratieve
        therapieën.
      </p>
      <div class="row">
        <div class="col-sm-6">
          <div
            class="icon-lg bg-success bg-opacity-10 text-success rounded-circle"
          >
            <i class="fa-solid fa-utensils"></i>
          </div>
          <h5 class="mt-2">Quality Food</h5>
          <p class="mb-0">
            Departure defective arranging rapturous did. Conduct denied adding
            worthy little.
          </p>
        </div>
        <div class="col-sm-6">
          <div
            class="icon-lg bg-danger bg-opacity-10 text-danger rounded-circle"
          >
            <i class="bi bi-stopwatch-fill"></i>
          </div>
          <h5 class="mt-2">Quick Services</h5>
          <p class="mb-0">
            Supposing so be resolving breakfast am or perfectly.
          </p>
        </div>
        <div class="col-sm-6">
          <div
            class="icon-lg bg-orange bg-opacity-10 text-orange rounded-circle"
          >
            <i class="bi bi-shield-fill-check"></i>
          </div>
          <h5 class="mt-2">High Security</h5>
          <p class="mb-0">
            Arranging rapturous did believe him all had supported.
          </p>
        </div>
        <div class="col-sm-6">
          <div class="icon-lg bg-info bg-opacity-10 text-info rounded-circle">
            <i class="bi bi-lightning-fill"></i>
          </div>
          <h5 class="mt-2">24/7 bereikbaar</h5>
          <p class="mb-0">0476309201</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container py-4">
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Accordion Item #1
        </button>
      </h2>
      <div
        id="collapseOne"
        class="accordion-collapse collapse show"
        aria-labelledby="headingOne"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <strong>This is the first item's accordion body.</strong> It is shown
          by default, until the collapse plugin adds the appropriate classes
          that we use to style each element. These classes control the overall
          appearance, as well as the showing and hiding via CSS transitions. You
          can modify any of this with custom CSS or overriding our default
          variables. It's also worth noting that just about any HTML can go
          within the <code>.accordion-body</code>, though the transition does
          limit overflow.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          Accordion Item #2
        </button>
      </h2>
      <div
        id="collapseTwo"
        class="accordion-collapse collapse"
        aria-labelledby="headingTwo"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <strong>This is the second item's accordion body.</strong> It is
          hidden by default, until the collapse plugin adds the appropriate
          classes that we use to style each element. These classes control the
          overall appearance, as well as the showing and hiding via CSS
          transitions. You can modify any of this with custom CSS or overriding
          our default variables. It's also worth noting that just about any HTML
          can go within the <code>.accordion-body</code>, though the transition
          does limit overflow.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          Accordion Item #3
        </button>
      </h2>
      <div
        id="collapseThree"
        class="accordion-collapse collapse"
        aria-labelledby="headingThree"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <strong>This is the third item's accordion body.</strong> It is hidden
          by default, until the collapse plugin adds the appropriate classes
          that we use to style each element. These classes control the overall
          appearance, as well as the showing and hiding via CSS transitions. You
          can modify any of this with custom CSS or overriding our default
          variables. It's also worth noting that just about any HTML can go
          within the <code>.accordion-body</code>, though the transition does
          limit overflow.
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container py-4">
  <h2 class="text-center">Onze diensten</h2>
  <p class="py-4">
    We streven steeds naar de diervriendelijkste zorg en meest actuele
    onderzoekstechnieken en apparatuur om samen met het baasje de beste
    strategie te kiezen voor de viervoetige patient.
  </p>
  <div class="row ghd">
    <div class="col-lg-8">
      <h4>Grote huisdieren</h4>
      <div class="container-fluid">
        <div class="row row-cols-3">
          <div class="col">
            <div class="card">
              <div class="card-body">Kunstmatige inseminatie</div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-body">Abdominale chirurgie</div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-body">Klauwverzorging</div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-body">Keizersnede</div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-body">
                Bedrijfsbegeleiding: drachtopvolging, melkcontroles
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-body">Castratie</div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-body">
                Zuurstoftoediening op het bedrijf zelf
              </div>
            </div>
          </div>
        </div>
      </div>
      <ul>
        <li>Kunstmatige inseminatie</li>
        <li>Abdominale chirurgie</li>
        <li>Klauwverzorging</li>
        <li>Keizersnede</li>
        <li>Bedrijfsbegeleiding: drachtopvolging, melkcontroles</li>
        <li>Castratie</li>
        <li>Zuurstoftoediening op het bedrijf zelf</li>
      </ul>
    </div>
    <div class="col-lg-4 image rounded"></div>
  </div>
  <div class="row khd">
    <div class="col-lg-4 image rounded"></div>
    <div class="col-lg-1"></div>
    <div class="col-lg-7">
      <h3>Kleine huisdieren</h3>
      <div>
        <h4>
          <span class="badge rounded-pill text-bg-success">Voedingsadvies</span>
        </h4>
        <h4>
          <span class="badge rounded-pill text-bg-success"
            >Opvolging van drachtige dieren en hun jongen</span
          >
        </h4>

        <span class="badge rounded-pill text-bg-success"
          >Correcte doorverwijzing</span
        >
        <span class="badge rounded-pill text-bg-success">Tandoperaties</span>
        <span class="badge rounded-pill text-bg-success"
          >Sterilisatie en castratie</span
        >
        <span class="badge rounded-pill text-bg-success"
          >Abdominale chirurgie</span
        >
        <span class="badge rounded-pill text-bg-success"
          >Kunstmatige inseminatie</span
        >
      </div>
      <ul>
        <li>Voedingsadvies</li>
        <li>Opvolging van drachtige dieren en hun jongen</li>
        <li>Correcte doorverwijzing</li>
        <li>Tandoperaties</li>
        <li>Sterilisatie en castratie</li>
        <li>Abdominale chirurgie</li>
        <li>Kunstmatige inseminatie</li>
        <li>Vaccineren en chippen</li>
      </ul>
    </div>
  </div>
</div>
